<!DOCTYPE html>
<html>
<head>
    <title> Title</title>
    <link href="styles/main.css" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>

<div class="parallax-container" style="height:40px">
    <div class="parallax"><img src="/site/bg.png"></div>
</div>

<body class="hero">



<div class="row menu1">



    <nav class="menu1">

        <div class="col s6">
            <nav class="menu1">
                <div class="container" >
                    <ul class="left hide-on-med-and-down">


                        <li><a class="btn btn-floating btn-large pulse"><i class="material-icons">email</i></a></li>
                        <li><a>E-MAIL: igescortslondon@gmail.com</a></li>
                    </ul>
                </div>
            </nav>





        </div>
        <div class="col s6">
            <nav class="menu1">
                <div class="container" >
                    <ul  class="right hide-on-med-and-down">
                        <li><a>CALL/SMS:</a></li>
                        <li><a>+44(0)7465737991</a></li>
                        <li>
                            <a class="btn btn-floating btn-large pulse"><i class="material-icons">phone</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>


    </nav>

</div>
<nav class="menu">
    <div class="nav-wrapper ">
        <a href="#" class="brand-logo"> <img src="/site/logo1.png" href="#"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <form method=post enctype="multipart/form-data" class="tab">
                <li><a> <input type="submit" formaction="home/recruitment" value="RECRUITMENT"></a></li>
                <li><a> <input type="submit" formaction="/FAQ" value="FAQS"></a></li>
        </ul>
    </div>
</nav>


<div class="slider">
    <ul class="slides">
        <li>
            <img src="/site/pn.png"> <!-- random image -->
            <div class="caption right-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">High class agency</h5>
            </div>
        </li>
        <li>
            <img src="/site/26.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">Providing the best escorts</h5>
            </div>
        </li>
        <li>
            <img src="/site/23.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">Best massage services included</h5>

            </div>
        </li>


    </ul>
</div>


    </ul>
</div>

<div>

    </br>

    </br>


    <div class="container round">


        </br> </br> </br>

        <div class="container">
            <p class="center" > <b>Are you ready to partner with us?</b></p>

            <p>

                Are you a beautiful, fit, up-scale young professional? If you're already successful, and dream of leading a more independent, stress-free and affluent lifestyle, then you're in the right place to make that happen. </p>

            <p>If you're quite at home in fine restaurants and luxurious hotels without fear of 'doing the wrong thing', you may be suitable to join our team. Enjoy elegant dates with interesting, discerning gentlemen and ladys, on your own schedule. We work together, you don't work 'for' us.
            </p>

            <p>
                To be considered as part of our ‘family’, you must be fit, healthy and naturally beautiful. Very importantly, you must be a warm-hearted, friendly and caring person, with a humble soul and a loving nature and you should also be comfortable conversing with new people and able to quickly create a comfortable and friendly atmosphere. A truly high-class lady or gentelman is gracious, and shows charm to everyone at all times, regardless of the situation. Without this, no amount of beauty will bring success. Confidence is important, as long as it is combined with genuine consideration and respect for others.
            </p>

            <p>Being a part of this particular agency is an achievement. IG Escorts has a flawless reputation as a professional and secure establishment.
            </p>

            <p>
                Our success is due to our integrity, professionalism and authenticity. In other words, as when clients call us, they know they'll only be introduced to the finest, most elite women and men available in the world. </p>

            <p>
                Simply fill out the form below and you can become part of our team.</p>

            </br>
            <div class="container">
                <form method="post" enctype="multipart/form-data" action = "recruit/sendmail">
                    <label> <p>Last Name</p>
                        <input type="text" , name="Nume">
                    </label>  <br>
                    <label> <p>First Name</p>
                        <input type="text" name="Prenume">
                    </label> <br>
                    <label> <p>Sex</p>
                        <input type="text" name="Sex">
                    </label> <br>
                    <label> <p>Age</p>
                        <input type="text" name="Varsta">
                    </label> <br>
                    <label><p>Bust</p>
                        <input type="text" name="Bust">
                    </label> <br>
                    <label> <p>Nationality</p>
                        <input type="text" name="Nationalitate">
                    </label> <br>
                    <label><p>E-mail</p>
                        <input type="text" name="email">
                    </label> <br>
                    <label><p>Description</p>
                        <input type="text" name="Descriere">
                    </label> <br>
                    <input type="file" name = file value="photo1">
                    </br>
                    </br>
                    <a class="waves-effect waves-light btn-large"> <input type="submit" value="send"></a>

                </form>

            </div>


            </br> </br> </br>
        </div>

    </div>





</div>


</br> </br>


<form method=post enctype="multipart/form-data" class="tab">
    <a  class="waves-effect waves-light btn-large butt"> <input type="submit" formaction="/home" value="Back to main page"></a>
</form>


<footer class="page-footer ">

    <div class="container">
        <p>  Disclaimer:

            IG Escorts London Agency is intended for adult viewing and may contain nudity and erotic pictures of escorts. Enter the site only if you are legally entitled to access "Adult Sites" as defined by the laws of the country where you live. By entering this London escorts web site , you confirm that: You are not entering this site in any official or unofficial capacity; in order to download images, or gain information for use in any media, or to use against the owner of the site. Money exchanged for legal adult services is for time and companionship. Anything implied or inferred on this web site is not to be taken as inducement for services other than this. Any sexual activities that take place are between consenting adults. If you are under 18 or do not agree with the above disclaimer statements, please leave this site now. </p>



        <div class="row">
            <div class="col l6 s12">
                <p class="white-text">


                    <div class="row">
                        <div class="col s6"> <p>
                    E-MAIL: igescortslondon@gmail.com
                    </br>
                    CALL/SMS:+44(0)7465737991 </p>
            </div>
            <div class="col s6">


            </div>

        </div>

        </p>
    </div>
    <div class="col l4 offset-l2 s12">
        <ul>
            <form method=post enctype="multipart/form-data" class="tab">

                <li><a class="grey-text text-lighten-3"> <input type="submit" formaction="/recruitment" value="Recruitment"></a></li>
                <li><a class="grey-text text-lighten-3"><input type="submit" formaction="/FAQ" value="FAQS"></a></li>
                <li><a class="grey-text text-lighten-3"> <input type="submit" formaction="/manescorts" value="Man escorts"> </a></li>
                <li><a class="grey-text text-lighten-3"><input type="submit" formaction="/gayescorts" value="Gay escorts"></a></li>
                <li><a class="grey-text text-lighten-3"><input type="submit" formaction="/womenescorts" value="Women escorts"></a></li>
                <li><a class="grey-text text-lighten-3"><input type="submit" formaction="/lesbyescorts" value="Lesbian escorts"></a></li>
            </form>
        </ul>
    </div>
    </div>
    </div>

    <div class="footer-copyright">



        <div class="container">
            © 2017 Copyright Text
        </div>

    </div>
</footer>


<style>
    .butt{ position: fixed; bottom: 40px; right: 30px; }
    .menu {
        background: #300032;
        opacity: .9;
        background: linear-gradient(black 80%);
        height: 80px;
    }


    .menu1 {
        background: #510054;
        opacity: .9;
        background: linear-gradient(black 80%);
        height: 80px;
    }

    body {
        background:;
    }

    .button1 {
        background: #c43235;
    }

    div ul li a {
        font-size: 20px;
    }

    p {
        font-size: 20px;
        color: white;
    }
    h3{color: #337879;}
    .center {
        font-size: 20px;
        color: white;

        text-align: center;
    }

    h4 {
        color: #d7b8b6;
        text-align: center;

    }

    .none {
        text-decoration: none;
    }

    .center {
        text-align: center;
    }

    .hero {
        background: url("../site/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .round {
        border-radius: 8px;

        background: rgba(41, 9, 23, .8);
    }

    .txt {
        color: #330c1d;
    }

    input, button, submit {
        position: bottom;
        border: none;
        background: none;
    }

</style>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


<script>
    $(".button-collapse").sideNav();</script>
<script>
    $(document).ready(function () {
        $('.slider').slider();
    });
</script>
<script>
    $('.tap-target').tapTarget('open');
    $('.tap-target').tapTarget('close');</script>


<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });

    $(document).ready(function () {
        // Init Carousel
        $('.carousel').carousel();

        // Init Carousel Slider
        $('.carousel.carousel-slider').carousel({fullWidth: true});

        // Fire off toast
        //Materialize.toast('Hello World', 3000);

        // Init Slider
        $('.slider').slider();

        // Init Modal
        $('.modal').modal();

        // Init Sidenav
        $('.button-collapse').sideNav();
    });
</script>

</body>
</html>