<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
</head>

<body>
    <form method = post enctype="multipart/form-data">
    <div>
        <label>
            <input type="text" name="Name" id="Name"> Name
        </label>
    </div>

    <div>
        <label>
            <input type="text" name="Sex" id="Sex"> Sex
        </label>
    </div>

    <div>
        <label>
            <input type="text" name="Age" id="Age"> Age
        </label>
    </div>

    <div>
        <label>
            <input type="text" name="Nation" id="Nation"> Nationality
        </label>
    </div>

    <div>
        <label >
            <input class="l1" type="text" name="Description" id="Description"> Description
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="Hair Color" id="Hair Color"> Hair Color
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="Bra Size" id="Bra Size"> Bra Size
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="Height" id="Height"> Height
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="Language" id="Language"> Language
        </label>
    </div>

    <div>
        <label>
            <input type="text" name="Price1" id="Price1"> First Hour Price
        </label>
    </div>
        <div>
            <label>
                <input type="text" name="Price2" id="Price2"> Additional 30 minutes Price
            </label>
        </div>
        <div>
            <label>
                <input type="text" name="Price3" id="Price3"> Additional Hour Price
            </label>
        </div>
        <div>
            <label>
                <input type="text" name="Price4" id="Price4"> Overnight Price
            </label>
        </div>

    <br><br><br>
    Adauga fotografii
    <div>
        <input type="file" value ="Add more Photos" name="AddMorePhotos">
    </div>
    </form>
</body>

</html>
