<!DOCTYPE html>
<html>
<head>
    <title> Title</title>
    <link href="styles/main.css" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>

<div class="parallax-container" style="height:40px">
    <div class="parallax"><img src="/site/bg.png"></div>
</div>

<body class="hero">



<div class="row menu1">



    <nav class="menu1">

        <div class="col s6">
            <nav class="menu1">
                <div class="container" >
                    <ul class="left hide-on-med-and-down">


                        <li><a class="btn btn-floating btn-large pulse"><i class="material-icons">email</i></a></li>
                        <li><a>E-MAIL: igescortslondon@gmail.com</a></li>
                    </ul>
                </div>
            </nav>





        </div>
        <div class="col s6">
            <nav class="menu1">
                <div class="container" >
                    <ul  class="right hide-on-med-and-down">
                        <li><a>CALL/SMS:</a></li>
                        <li><a>+44(0)7465737991</a></li>
                        <li>
                            <a class="btn btn-floating btn-large pulse"><i class="material-icons">phone</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>


    </nav>

</div>
<nav class="menu">
    <div class="nav-wrapper ">
        <a href="#" class="brand-logo"> <img src="/site/logo1.png" href="#"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <form method=post enctype="multipart/form-data" class="tab">
                <li><a> <input type="submit" formaction="/recruitment" value="RECRUITMENT"></a></li>
                <li><a> <input type="submit" formaction="/FAQ" value="FAQS"></a></li>
            </form>
        </ul>
    </div>
</nav>

<nav class="menu">
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li><a href="#1">WOMEN ESCORTS</a></li>
            <li><a href="#1">MAN ESCORTS</a></li>
            <li class="active"><a href="#2">GAY ESCORTS</a></li>
            <li class="active"><a href="#2">LESBIAN ESCORTS</a></li>

        </ul>
    </div>
</nav>

<div class="slider">
    <ul class="slides">
        <li>
            <img src="/site/pn.png"> <!-- random image -->
            <div class="caption right-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">High class agency</h5>
            </div>
        </li>
        <li>
            <img src="/site/26.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">Providing the best escorts</h5>
            </div>
        </li>
        <li>
            <img src="/site/23.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">Best massage services included</h5>

            </div>
        </li>


    </ul>
</div>

<div>

    </br>

    </br>

    <div class="container round z-depth-8">
        </br>

        <div class="container">

            <p>  <b>
                    IG Escorts London is the perfect choise if you're searching for luxury and secured services. Expect to meet here the finest, freshest, most authentic ladies and gentlemans of elegance and distinction with an air of refined sexiness. We are very selective and while everyone has their own idea of perfection, we know the art of attention to detail.And once we ascertain your preferences and needs, we're usually extremely confident of introducing suitable high end escort  models which are always attired impeccably; attractive yet tastefully discreet.Our variety of escort types can satisfy any client, no matter what sexual orientation he has. You will find here straight, gay or lesbian escorts, all of them being ready to accommodate your every preference, within reason and offer you the best experiences. </b> </p>

        </div>
        </br>
        </br>
        </br>


        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class=" bar1">
                        <h4 id="1">WOMEN ESCORTS</h4>
                        <div class="card card-panel hoverable">
                            <div class="card-image">
                                <div class="slider">
                                    <ul class="slides">
                                        <li>
                                            <img src="/site/10.jpg"> <!-- random image -->
                                            <div class="caption center-align">
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/site/11.jpg"> <!-- random image -->
                                            <div class="caption left-align">
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/site/12.jpg"> <!-- random image -->
                                            <div class="caption right-align">
                                            </div>
                                        </li>

                                    </ul>
                                </div></div>
                            <div class="card-content txt">
                                <p>Confidential , we have a gallery of some of the hottest, most adventurous girls that you will ever meet. Are you looking for a romantic night out on the town? A hot date to a company-sponsored event? A quiet night in where you can make all of your dreams come true? We have the girl for you.</p>
                            </div>
                            <div class="card-action center">
                                <h6>
                                    <form method="post" enctype="multipart/form-data">
                                        <a>
                                            <input type="submit" formaction="/womenescorts" value="SEE MORE">
                                            <i class="material-icons"> </i></a>
                                    </form>
                                </h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col s6">
                    <div class=" bar1">
                        <h4 id="1">MEN ESCORTS</h4>
                        <div class="card card-panel hoverable">
                            <div class="card-image">
                                <div class="slider">
                                    <ul class="slides">
                                        <li>
                                            <img src="/site/26.jpg"> <!-- random image -->
                                            <div class="caption center-align">
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/site/24.jpg"> <!-- random image -->
                                            <div class="caption left-align">
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/site/25.jpg"> <!-- random image -->
                                            <div class="caption right-align">
                                            </div>
                                        </li>
                                    </ul>
                                </div>  </div>
                            <div class="card-content txt">
                                <p>Many of our escorts are just as excited to meet you as you are to meet them. Real chemistry can be established within minutes of meeting an escort because all of them have amazing personalities.  There's nothing that you can say or do that will prevent these men from spending time with you.</p>
                            </div>
                            <div class="card-action center">
                                <h6>
                                    <form method="post" enctype="multipart/form-data">
                                        <a>
                                            <input type="submit" formaction="/manescorts" value="SEE MORE">
                                            <i class="material-icons"> </i></a>
                                    </form>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="bar1">
                        <h4 id="2">GAY ESCORTS</h4>
                        <div class="card card-panel hoverable">
                            <div class="card-image">
                                <div class="slider">
                                    <ul class="slides">
                                        <li>
                                            <img src="/site/27.jpg"> <!-- random image -->
                                            <div class="caption right-align">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content txt">
                                <p>We promised you that everything here is about diversity:no matter what you're looking for, we have something for you.That's what differentiates our Escorts from all the others.</p>
                            </div>
                            <div class="card-action center">
                                <h6>
                                    <form method="post" enctype="multipart/form-data">
                                        <a>
                                            <input type="submit" formaction="/gayescorts" value="SEE MORE">
                                            <i class="material-icons"> </i></a>
                                    </form>
                                </h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col s6">
                    <div class="bar1">
                        <h4 id="2">LESBIAN ESCORTS</h4>
                        <div class="card card-panel hoverable">
                            <div class="card-image">
                                <div class="slider">
                                    <ul class="slides">
                                        <li>
                                            <img src="/site/18.jpg"> <!-- random image -->
                                            <div class="caption center-align">
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/site/20.jpg"> <!-- random image -->
                                            <div class="caption left-align">
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/site/21.jpg"> <!-- random image -->
                                            <div class="caption right-align">
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card-content txt">
                                <p>Whatever type of girl you want we have hot collection of young or mature, tall or petite, busty or slim whatever race we can help you out.We hire based upon looks&personality.</p>
                            </div>
                            <div class="card-action center">
                                <h6>
                                    <form method="post" enctype="multipart/form-data">
                                        <a>
                                            <input type="submit" formaction="/lesbyescorts" value="SEE MORE">
                                            <i class="material-icons"> </i></a>
                                    </form>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <footer class="page-footer ">

        <div class="container">
            <p>  Disclaimer:

                IG Escorts London Agency is intended for adult viewing and may contain nudity and erotic pictures of escorts. Enter the site only if you are legally entitled to access "Adult Sites" as defined by the laws of the country where you live. By entering this London escorts web site , you confirm that: You are not entering this site in any official or unofficial capacity; in order to download images, or gain information for use in any media, or to use against the owner of the site. Money exchanged for legal adult services is for time and companionship. Anything implied or inferred on this web site is not to be taken as inducement for services other than this. Any sexual activities that take place are between consenting adults. If you are under 18 or do not agree with the above disclaimer statements, please leave this site now. </p>



            <div class="row">
                <div class="col l6 s12">
                    <p class="white-text">


                        <div class="row">
                            <div class="col s6"> <p>
                        E-MAIL: igescortslondon@gmail.com
                        </br>
                        CALL/SMS:+44(0)7465737991 </p>
                </div>
                <div class="col s6">


                </div>

            </div>

            </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <ul>

                <form method=post enctype="multipart/form-data" class="tab">

                    <li><a class="grey-text text-lighten-3"> <input type="submit" formaction="/recruitment" value="Recruitment"></a></li>
                    <li><a class="grey-text text-lighten-3"><input type="submit" formaction="/FAQ" value="FAQS"></a></li>
                    <li><a class="grey-text text-lighten-3"> <input type="submit" formaction="/manescorts" value="Man escorts"> </a></li>
                    <li><a class="grey-text text-lighten-3"><input type="submit" formaction="/womenescorts" value="Women escorts"></a></li>
                    <li><a class="grey-text text-lighten-3"><input type="submit" formaction="/gayescorts" value="Gay escorts"></a></li>
                </form>
            </ul>
        </div>
</div>
</div>
</div>
</div>

<div class="footer-copyright">



    <div class="container">
        © 2017 Copyright Text
    </div>

</div>
</footer>

<style>
    .menu {
        background: #300032;
        opacity: .9;
        background: linear-gradient(black 80%);
        height: 80px;
    }


    .menu1 {
        background: #510054;
        opacity: .9;
        background: linear-gradient(black 80%);
        height: 80px;
    }

    body {
        background:;
    }

    .button1 {
        background: #c43235;
    }

    div ul li a {
        font-size: 20px;
    }

    p {
        font-size: 20px;
        color: white;
    }

    h4 {
        color: #d7b8b6;
        text-align: center;

    }

    .none {
        text-decoration: none;
    }

    .center {
        text-align: center;
    }

    .hero {
        background: url("../site/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .round {
        border-radius: 8px;

        background: rgba(41, 9, 23, .8);
    }

    .txt {
        color: #330c1d;
    }
    h3{color: #337879;}

    input, button, submit {
        position: bottom;
        border: none;
        background: none;
    }

</style>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


<script>
    $(".button-collapse").sideNav();</script>
<script>
    $(document).ready(function () {
        $('.slider').slider();
    });
</script>
<script>
    $('.tap-target').tapTarget('open');
    $('.tap-target').tapTarget('close');</script>


<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });

    $(document).ready(function () {
        // Init Carousel
        $('.carousel').carousel();

        // Init Carousel Slider
        $('.carousel.carousel-slider').carousel({fullWidth: true});

        // Fire off toast
        //Materialize.toast('Hello World', 3000);

        // Init Slider
        $('.slider').slider();

        // Init Modal
        $('.modal').modal();

        // Init Sidenav
        $('.button-collapse').sideNav();
    });
</script>

</body>
</html>