<!DOCTYPE html>
<html>
<head>
    <title> Title</title>
    <link href="styles/main.css" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>

<div class="parallax-container" style="height:40px">
    <div class="parallax"><img src="/site/bg.png"></div>
</div><body class="hero">



<div class="row menu1">



    <nav class="menu1">

        <div class="col s6">
            <nav class="menu1">
                <div class="container" >
                    <ul class="left hide-on-med-and-down">


                        <li><a class="btn btn-floating btn-large pulse"><i class="material-icons">email</i></a></li>
                        <li><a>E-MAIL: igescortslondon@gmail.com</a></li>
                    </ul>
                </div>
            </nav>





        </div>
        <div class="col s6">
            <nav class="menu1">
                <div class="container" >
                    <ul  class="right hide-on-med-and-down">
                        <li><a>CALL/SMS:</a></li>
                        <li><a>+44(0)7465737991</a></li>
                        <li>
                            <a class="btn btn-floating btn-large pulse"><i class="material-icons">phone</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>


    </nav>

</div>
<nav class="menu">
    <div class="nav-wrapper ">
        <a href="#" class="brand-logo"> <img src="/site/logo1.png" href="#"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <form method=post enctype="multipart/form-data" class="tab">
                <li><a> <input type="submit" formaction="FAQ/recruit" value="RECRUITMENT"></a></li>
                <li><a> <input type="submit" formaction="home/FAQ" value="FAQS"></a></li>
        </ul>
    </div>
</nav>


<div class="slider">
    <ul class="slides">
        <li>
            <img src="/site/pn.png"> <!-- random image -->
            <div class="caption right-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">High class agency</h5>
            </div>
        </li>
        <li>
            <img src="/site/26.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">Providing the best escorts</h5>
            </div>
        </li>
        <li>
            <img src="/site/23.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>IG ESCORTS LONDON</h3>
                <h5 class="light grey-text text-lighten-3">Best massage services included</h5>

            </div>
        </li>


    </ul>
</div>
<div>

    </br>

    </br>











    <div class="container round">






        <div class="container">

            <div class="row">
                <div class="col s1"></div>

                <div class="col s5"><ul
                            class="faq-list"><li><a
                                    title="What are incalls and outcalls?" href="#FAQ1">1.What are incalls and outcalls?</a></li><li><a
                                    title="How far in advance do I need to book?" href="#FAQ2">2.How far in advance do I need to book?</a></li><li><a
                                    title="What payment methods do the escorts accept?" href="#FAQ3">3.What payment methods do the escorts accept?</a></li><li><a
                                    title="Is all this legal? Am I breaking the law?" href="#FAQ4">4.What about massage services?</a></li></ul>
                </div>


                <div class="col s6">
                    <ul
                            class="faq-list"><li><a
                                    title="Can I book more than one girl at a time?" href="#FAQ5">5.Can I book more than one girl at a time?</a></li><li><a
                                    title="Can me and my partner see an escort together?" href="#FAQ6">6.Can me and my partner see an escort together?</a></li><li><a
                                    title="Are the pictures on the girls' profile pages real?" href="#FAQ7">7.Are the pictures on the girls&#8217; profile pages real?</a></li><li><a
                                    title="I have a special request - is that OK?" href="#FAQ8">8.I have a special request &#8211; is that OK?</a></li></ul>


                </div>

            </div>
        </div>
    </div>


    <div class="container round">
        <div class="row">
            <div class="col s1"></div>

            <div class="col s10">
                <div
                        class="question-desc"><p></p><h3 id="FAQ1"></h3><p>1.If you book an escort for an outcall appointment, she comes to you sometimes to your home, but more usually to your hotel room. For an incall you visit the escort at her apartment. Outcall appointments tend to be a little longer than incalls, because our clients often like to take their escort for dinner, or to some sort of show or event. </p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div><div
                        class="question-desc"><p></p><h3 id="FAQ2" class="question-title"></h3><p>2.You can make a booking on the same day by phone. Booking in advance is a good option to secure a date with the one of your choice at the time most convenient to you.</p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div><div
                        class="question-desc"><p></p><h3 id="FAQ3" class="question-title"></h3><p>3.Cash is the only form of payment our escorts will accept.British Sterling is the preferred choice, however we will always try our best to accept all major currencies. Exchange rate calculation will be at the discretion of the admin arranging your date.</p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div><div
                        class="question-desc"><p></p><h3 id="FAQ4" class="question-title"></h3><p>4.You won't have to scroll through pages on Google to search for massage escort, when you can simply find one here on the our independent escort directory. You find a beautiful companion who can give you a massage,an send you to paradise. There are other alternatives like a sports massage which tenders to your aching joints, along with a hot-stone massage that will loosen your tight muscles after a long day at work. Book a meeting with an attractive massage escort who can make you feel like you're in heaven.
                        <span
                                class="Apple-converted-space"><br
                            /> </span></p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div>

                <div
                        class="question-desc"><p></p><h3 id="FAQ5" class="question-title"></h3><p>5.Yes, you can book how many escorts you want in the same time.
                        <span
                                class="Apple-converted-space"><br
                            /> </span></p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div><div
                        class="question-desc"><p></p><h3 id="FAQ6" class="question-title"></h3><p>6.Yes, some of our escorts enjoy meeting couples as well as singles! However, you must inform us prior to booking that you wish to include a third party so that we can ensure your selected escort is happy with the arrangements. Often there may be a surcharge added, amount is at the escorts discretion.</p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div><div
                        class="question-desc"><p></p><h3 id="FAQ7" class="question-title"></h3><p>7.Absolutely. There are some escort agencies out there who fob you off with fake pictures we don't. We have a policy of always showing escorts faces in their galleries, so if the escort who turns up isn't the one you were expecting there can be no arguments. We respect our clients, we don't cheat them.</p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div>

                <div
                        class="question-desc"><p></p><h3 id="FAQ8" class="question-title"></h3><p>8.That's not a problem: we're committed to the highest possible level of customer service. <a
                                title="Contact Us" href=" ">Contact Us</a> and we'll do our best to answer your question!
                        <span
                                class="Apple-converted-space"><br
                            /> </span></p><div
                            class="link-back-top"><a
                                title="back to top" href="#top">back to top</a></div></div>

                </section></section>
            </div>
        </div>

        <div class="col s1"></div>
        </br> </br>
    </div>



    <form method=post enctype="multipart/form-data" class="tab">
        <a  class="waves-effect waves-light btn-large butt"> <input type="submit" formaction="home/recruitment" value="Back to main page"></a>
    </form>

    </br> </br>
    <footer class="page-footer ">

        <div class="container">
            <p>  Disclaimer:

                IG Escorts London Agency is intended for adult viewing and may contain nudity and erotic pictures of escorts. Enter the site only if you are legally entitled to access "Adult Sites" as defined by the laws of the country where you live. By entering this London escorts web site , you confirm that: You are not entering this site in any official or unofficial capacity; in order to download images, or gain information for use in any media, or to use against the owner of the site. Money exchanged for legal adult services is for time and companionship. Anything implied or inferred on this web site is not to be taken as inducement for services other than this. Any sexual activities that take place are between consenting adults. If you are under 18 or do not agree with the above disclaimer statements, please leave this site now. </p>



            <div class="row">
                <div class="col l6 s12">
                    <p class="white-text">


                        <div class="row">
                            <div class="col s6"> <p>
                        E-MAIL: igescortslondon@gmail.com
                        </br>
                        CALL/SMS:+44(0)7465737991 </p>
                </div>
                <div class="col s6">


                </div>

            </div>

            </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Recruitment</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">FAQS</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">All escorts</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Man escorts</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Women escorts</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Gay escorts</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Lesbian escorts</a></li>
            </ul>
        </div>
</div>
</div>

<div class="footer-copyright">



    <div class="container">
        © 2017 Copyright Text
    </div>

</div>
</footer>

<style>
    .butt{ position: fixed; bottom: 40px; right: 30px; }
    .menu {
        background: #300032;
        opacity: .9;
        background: linear-gradient(black 80%);
        height: 80px;
    }


    .menu1 {
        background: #510054;
        opacity: .9;
        background: linear-gradient(black 80%);
        height: 80px;
    }

    body {
        background:;
    }

    .button1 {
        background: #c43235;
    }

    div ul li a {
        font-size: 20px;
    }

    p {
        font-size: 20px;
        color: white;
    }

    h4 {
        color: #d7b8b6;
        text-align: center;

    }

    .none {
        text-decoration: none;
    }

    .center {
        text-align: center;
    }

    .hero {
        background: url("../site/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .round {
        border-radius: 8px;

        background: rgba(41, 9, 23, .8);
    }

    .txt {
        color: #330c1d;
    }
    h3{color: #337879;}
    input, button, submit {
        position: bottom;
        border: none;
        background: none;
    }

</style>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


<script>
    $(".button-collapse").sideNav();</script>
<script>
    $(document).ready(function () {
        $('.slider').slider();
    });
</script>
<script>
    $('.tap-target').tapTarget('open');
    $('.tap-target').tapTarget('close');</script>


<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });

    $(document).ready(function () {
        // Init Carousel
        $('.carousel').carousel();

        // Init Carousel Slider
        $('.carousel.carousel-slider').carousel({fullWidth: true});

        // Fire off toast
        //Materialize.toast('Hello World', 3000);

        // Init Slider
        $('.slider').slider();

        // Init Modal
        $('.modal').modal();

        // Init Sidenav
        $('.button-collapse').sideNav();
    });
</script>

</body>
</html>